  <% 
  if(somma!=null)
  { 
     a=somma.a;
     b=somma.b;
     c=parseInt(somma.a)+parseInt(somma.b);
  }
  else  
  { 
     a="";
     b="";
     c="";
  } %>

 <html>
 <head>
  <meta charset="UTF-8">
  <title>Somma</title>
  <style type="TEXT/CSS">
  body { 
     background-color:rgb(255,255,200); 
  }
  .testo { 
     background-color:rgb(255,255,255); 
     color:rgb(0,0,255); 
     width:40px;
     height:30px;
     text-align:right;
     font-size:20px;
  }
  .bottone { 
     background-color:rgb(200,200,200); 
     color:rgb(255,0,0); 
     width:80px;
     height:30px;
     text-align:right;
     font-size:20px;
  }
  .etic { 
     text-align:right;
     font-size:20px;
  }
</style> 
</head>
  
<body>
    <h1><%= topicHead %></h1>
    <form name="form1" method="POST" action="/somma">
       <label class="etic">a: </label>
       <input class="testo" type="text" name="a" value="<%= a %>">
       <label class="etic"> + b:</label>
       <input class="testo" type="text" name="b" value="<%= b %>">
       <label class="etic"> = c:</label>
       <input class="testo" type="text" name="c" value="<%= c %>">
       <br> <br>
       <input class="bottone" type="submit" value="somma" >
    </form> 
</body>
</html>

